{% load static %}

<section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'Home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Login</a>
                    <a href="{% url 'cadastro' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Cadastro</a>
                    <a href="{% url 'addimagem' %}"><img src="{% static '/assets/ícones/1x/Novas - ativo.png' %}"> Nova Imagem</a>
                    <a href="{% url 'deletarimagem' %}"><img src="{% static '/assets/ícones/1x/Novas - ativo.png' %}"> Deletar Imagem</a>
                    <a href="{% url 'editarimagem' %}"><img src="{% static '/assets/ícones/1x/Novas - ativo.png' %}"> Editar Imagem</a>
                    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
                </nav>
</section>